@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.ikModalMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
  width: 350px;

  &__about {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    padding: 3rem 0;
    font-size: 1rem;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-transition: all 1s;
    transition: all 1s;
    min-width: 250px;
    padding: 3rem;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;

    &__image {
      width: 100px;
      height: 100px;
      img {
        width: 100%;
        border-radius: 50%;
      }
    }
  }

  &__contact {
    min-width: 250px;
    padding: 3rem;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;

    ul {
      list-style: none;
      padding: 0;
    }
    ul li {
      margin: 0.8rem 0;
      font-size: 1rem;
      -webkit-transform: translate3d(4rem, 0, 0);
      transform: translate3d(4rem, 0, 0);
      -webkit-transition: all 1s;
      transition: all 1s;
      opacity: 0;
    }
  }
  &__link {
    color: #eee;
    text-decoration: none;
  }
}

.ikModalMenu__active {
  .ikModalMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  &.ikModalMenu__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba(58, 71, 80, 0.85);
    overflow-y: scroll;
  }

  .ikModalMenu__about {
    -webkit-animation: fadeIn 1s ease-in-out forwards;
    animation: fadeIn 1s ease-in-out forwards;
  }

  .ikModalMenu__contact ul li {
    -webkit-animation: fadeIn 0.5s ease-in-out forwards;
    animation: fadeIn 0.5s ease-in-out forwards;
    &:nth-child(1) {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
    }
    &:nth-child(2) {
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s;
    }
    &:nth-child(3) {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
    }
    &:nth-child(4) {
      -webkit-animation-delay: 0.8s;
      animation-delay: 0.8s;
    }
    &:nth-child(5) {
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
    }
  }
}
