.ikFilterBar {
  &__container {
    border: 1px solid #00adb5;
    color: #00adb5;
    background: #3a4750 !important;
    padding: 0.5rem 0;
    position: sticky;
    top: 68px;
    width: 100%;
  }
  &__inner {
    height: 100%;
    width: 80%;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    button {
      padding: 0.25rem 0.75rem;
      font-size: 1rem;
      font-family: inherit;
      border: none;
      outline: none;
      color: #eee;
      background: transparent;
      cursor: pointer;
      &:hover {
        color: #00adb5;
      }
    }
  }
  &__button__active {
    color: #00adb5 !important;
  }
}

// .portfolio-container {

// }

// .portfolio-container .portfolio-card * {
//   margin-bottom: 0.5rem;
// }
// .portfolio-container .portfolio-card a {

// }
// .portfolio-container .portfolio-card a:hover {
//   color: #00adb5;
// }
// .portfolio-container .portfolio-card-heading {
//   padding: 0 1rem;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-pack: justify;
//   -ms-flex-pack: justify;
//   justify-content: space-between;
//   -webkit-box-align: end;
//   -ms-flex-align: end;
//   align-items: flex-end;
// }
// .portfolio-container .portfolio-card-heading-main {
//   font-size: 2.5rem;
// }
// .portfolio-container .portfolio-card .portoflio-card-content {
//   -webkit-box-flex: 1;
//   -ms-flex: 1;
//   flex: 1;
// }
// .portfolio-container .portfolio-card button {
//   border: 1px solid #303841;
//   background: transparent;
//   padding: 4px 8px;
//   outline: none;
//   cursor: pointer;
// }
// .portfolio-container .portfolio-card button:hover {
//   color: #00adb5;
//   border: 1px solid #00adb5;
// }
// footer {
//   text-align: center;
// }
// @media (min-width: 766px) {
//   .hero-banner .hero-banner-inner {
//     -ms-grid-columns: 1fr 1fr 1fr;
//     grid-template-columns: 1fr 1fr 1fr;
//     grid-template-areas: "card1 card2 card3";
//   }
//   .hero-banner #coding-hours {
//     -ms-flex-item-align: unset;
//     -ms-grid-row-align: unset;
//     align-self: unset;
//     margin-right: unset;
//     margin-left: unset;
//   }
//   .modal-menu {
//     -webkit-box-orient: horizontal;
//     -webkit-box-direction: normal;
//     -ms-flex-direction: row;
//     flex-direction: row;
//   }
// }

// .featured-heading i {
//   margin-right: 1rem;
//   font-size: 2rem;
// }

// .filter-session-inner .filter,
// .filter-session-inner .sort {
//   width: 100%;
//   max-width: 600px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   flex-wrap: wrap;
//   padding: 0.2rem 1rem;
// }

// .filter-session-inner .filter button {
//   margin: 0.5rem 0;
// }

// @media (min-width: 900px) {
//   .filter-session-inner {
//     flex-direction: row;
//   }

//   .filter-session-inner .filter {
//     width: 70%;
//     padding: 0.5rem;
//   }
//   .filter-session-inner .sort {
//     width: 30%;
//     padding: 0.5rem;
//   }
// }
