html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}
body {
  background: #3a4750 !important;
  color: #eee !important;
  font-family: "Share Tech Mono", monospace !important;
  font-size: 16px;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  width: 100%;
}

.heading-text {
  font-family: "Rubik Mono One", sans-serif;
}
.fa-css3-alt {
  color: #264de4;
}
.fa-react {
  color: #61dbfb;
}
.fa-js-square {
  color: #f0db4f;
}
.fa-html5 {
  color: #e44d26;
}
.fa-php {
  color: black;
}
.fa-node-js {
  color: #3c873a;
}
.fa-git-alt {
  color: #f1502f;
}
.fa-sass {
  color: #cd6799;
}

/* 

.portfolio-modal {
  position: absolute;
  top: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: none;
}
.portfolio-modal .portfolio-details {
  width: 90vw;
  padding: 1.5rem;
  max-width: 700px;
  background: #303841;
  border-radius: 1rem;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}




nav input {
  visibility: hidden;
  width: 0;
  height: 0;
}
nav h1 {
  font-size: 16px;
  line-height: 60px;
}


.filter-session {
  border: 1px solid #00adb5;
  color: #00adb5;
  padding: 0.5rem 0;
}
.filter-session .filter-session-inner {
  height: 100%;
  width: 80%;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.filter-session .filter-session-inner button {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  outline: none;
  color: #eee;
  background: transparent;
  cursor: pointer;
}
.filter-session .filter-session-inner button:hover {
  color: #00adb5;
}
.portfolio-container {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.portfolio-container .portfolio-card * {
  margin-bottom: 0.5rem;
}
.portfolio-container .portfolio-card a {

}
.portfolio-container .portfolio-card a:hover {
  color: #00adb5;
}
.portfolio-container .portfolio-card-heading {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.portfolio-container .portfolio-card-heading-main {
  font-size: 2.5rem;
}
.portfolio-container .portfolio-card .portoflio-card-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.portfolio-container .portfolio-card button {
  border: 1px solid #303841;
  background: transparent;
  padding: 4px 8px;
  outline: none;
  cursor: pointer;
}
.portfolio-container .portfolio-card button:hover {
  color: #00adb5;
  border: 1px solid #00adb5;
}
footer {
  text-align: center;
}
@media (min-width: 766px) {
  .hero-banner .hero-banner-inner {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "card1 card2 card3";
  }
  .hero-banner #coding-hours {
    -ms-flex-item-align: unset;
    -ms-grid-row-align: unset;
    align-self: unset;
    margin-right: unset;
    margin-left: unset;
  }
  .modal-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.featured-heading i {
  margin-right: 1rem;
  font-size: 2rem;
}

.pagination-bar {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
  padding: 2rem 0;
  display: flex;
}
.pagination-bar .prev,
.pagination-bar .next {
  font-size: 1rem;
  color: #00adb5;
  cursor: pointer;
}
.pagination-bar .prev:hover,
.pagination-bar .next:hover {
  color: #eee;
}
.pagination-bar .prev {
  margin-left: 0;
  margin-right: auto;
}
.pagination-bar .next {
  margin-right: 0;
  margin-left: auto;
}

.filter-session-inner .filter,
.filter-session-inner .sort {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.2rem 1rem;
}

.filter-session-inner .filter button {
  margin: 0.5rem 0;
}

@media (min-width: 900px) {
  .filter-session-inner {
    flex-direction: row;
  }

  .filter-session-inner .filter {
    width: 70%;
    padding: 0.5rem;
  }
  .filter-session-inner .sort {
    width: 30%;
    padding: 0.5rem;
  }
}

.portfolio-card-image {
  max-height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-card-heading-links a {
  margin-left: 1rem;
}

.fadeIn-enter {
  opacity: 0;
  transform: scale(0.9);
}
.fadeIn-enter-active {
  opacity: 1;
  transition: all 700ms;
  transform: scale(1);
}

.fadeIn-exit {
  opacity: 1;
  transform: scale(1);
}
.fadeIn-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: all 700ms;
}

.filter-active,
.sort-active {
  color: #00adb5 !important;
}  */
